{% extends "base.html" %}
{% load staticfiles %}

{% block title %}任务列表{% endblock %}

{% block staticcss %}
    <!-- DataTables CSS -->
<link href="{% static "bpd/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "bpd/bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock %}

{% block staticjs %}

    <script src="{% static "bpd/bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bpd/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "bpd/bower_components/datatables-responsive/js/dataTables.responsive.js" %}"></script>
{% endblock %}

{% block content %}


<!-- Page Content -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">


                    <ol class="breadcrumb">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li class="active">已删除任务列表</li>
                        <li class="active"><a href="javascript:history.go(-1);">返回前页</a></li>
                    </ol>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <!-- /.row -->

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        任务列表


                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <!--表单报错显示-->
                        {% if form.errors %}

                            {% for field, error in form.errors.items %}
                                <div class="alert alert-error">
                                    {{ field }} <code>{{ error }}</code>
                                </div>
                            {% endfor %}


                        {% endif %}
                        <div class="dataTable_wrapper">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>ID</th>
                                        <th>任务名称</th>
                                        <th>创建人</th>
                                        <th>创建日期</th>
                                        <th>类型</th>
                                        <th>分配给</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for list in latest %}
                                    <tr class="odd gradeX">
                                        <td><input type="checkbox" value=""></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ list.title }}</td>
                                        <td>{{ list.created_by }}</td>
                                        <td>{{ list.created_date }}</td>
                                        <td>{{ list.get_tasktype_display }}</td>
                                        <td class="center">{{ list.assigned_to }}</td>
                                        <td>{{ list.get_status_display }}</td>
                                        <td>
                                        <a class="btn btn-outline btn-primary" href="{% url 'delitem' %}?type=rollback&id={{ list.id }}">恢复</a>

                                        <a class="btn btn-outline btn-danger" href="#" data-href="{% url 'delitem'%}?type=task&id={{ list.id }}"
                                           data-toggle="modal" data-target="#confirm-delete">彻底删除</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end panel-body-->
                </div>
            </div>
        </div>
    </div>


{% endblock %}